.boton-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.boton-clear:hover {
    background-color: #ebb000;
}